body {
    font-family: 'Poppins', sans-serif; /* Updated font */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /* Allow wrapping */
    box-sizing: border-box;
}

.side-panel {
    background-color: #f0f0f0;
    padding: 20px;
    width: 33.33%; /* 1/3 of the width */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: relative;
    background-image: url("/static/images/background.jpeg"); /* Local file */
    background-size: initial;
    background-repeat: repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.side-panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.profile-section, .introduction {
    position: relative;
    z-index: 2;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 100%; /* Responsive width */
    max-width: 200px; /* Maximum size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
    margin-top: 30px;
}

h1 {
    font-size: 1.8em;
    margin: 10px 0 5px 0; /* Reduced bottom margin */
    color: #2c3e50;
    font-family: 'Poppins', sans-serif; /* Updated font */
    letter-spacing: 2px; /* Increased character spacing */
}

.title {
    font-size: 1.2em; /* Increased font size */
    font-family: 'Poppins', sans-serif; /* Match font style of name */
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0;
}

.introduction {
    text-align: justify; /* Justify text */
    margin-top: 0px;
    font-size: 1em; /* Smaller font size */
    padding-left: 20px;
    padding-right: 20px
}

.main-panel {
    flex: 1;
    padding: 40px;
    background-color: #ffffff;
    position: relative;
    width: 66.67%; /* 2/3 of the width */
    box-sizing: border-box;
}

.social-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 7px;
}

.icon-button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
}

.icon-button.scholar {
    color: #cb461d;
    border-color: #cb461d;
}

.icon-button.scholar:hover {
    background-color: #cb461d6a;
}

.icon-button.linkedin {
    color: #320482;
    border-color: #320482;
}

.icon-button.linkedin:hover {
    background-color: #3204826a;
}

.icon-button.github {
    color: #0288d1;
    border-color: #0288d1;
}

.icon-button.github:hover {
    background-color: #0288d16a;
}

.icon-button.twitter {
    color: #00897b;
    border-color: #00897b;
}

.icon-button.twitter:hover {
    background-color: #00897b6a;
}

.icon-button.email {
    color: #fbc02d;
    border-color: #fbc02d;
}

.icon-button.email:hover {
    background-color: #fbc02d6a;
}

/* Common class for section titles */
.section-title {
    font-size: 1.5em; /* Set the desired font size */
    color: #2c3e50; /* Optional: Set the desired color */
}

.news-updates, .publications {
    margin-bottom: 40px;
    padding: 40px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.news-updates {
    margin-top: 30px;
    flex: 1; /* Allow the news-updates section to grow */
}

.news-updates ul {
    list-style-type: none;
    padding: 0;
    font-size: 1em;
}

.news-updates li {
    margin-bottom: 15px;
    line-height: 1.2;
}

.see-more {
    color: #008080;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}

.see-more:hover {
    text-decoration: underline;
}

.publications p {
    font-size: 1em; /* Smaller font size */;
}

.publication {
    margin-bottom: 20px;
    font-size: 1em; /* Smaller font size for publications */
    border-bottom: 1px solid #ddd; /* Thin dividing line */
}

.publication h3 {
    margin-bottom: 0px; /* Remove top margin */
    font-size: 1em;
}

.publication .tldr {
    margin-bottom: 10px; /* Gap to the next element */
    font-size: 0.9em;;
}

.publication .authors {
    margin-top: 0px; /* Remove top margin */
    font-style: italic; /* Italicize the authors */
    font-size: 0.9em;
}

.button-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0px 15px;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #008080; /* Teal color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.button-link:hover {
    background-color: #005f5f; /* Darker teal on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

h2 {
    color: #008080;
    margin-bottom: 20px;
}

a {
    color: #008080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #008080;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
    margin-top: auto; /* Push the footer to the bottom */
    box-sizing: border-box;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0c4c4; /* Muted light teal */
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #90a4a4; /* Slightly darker teal on hover */
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }

    .side-panel {
        width: 100%; /* Full width */
        padding: 20px; /* Reduced padding */
        display: flex;
        flex-direction: column; /* Stack children vertically */
    }

    .profile-section {
        order: 1; /* Move profile section to the first position within side panel */
    }

    .introduction {
        order: 2; /* Move introduction to the second position within side panel */
    }

    .social-buttons {
        order: 3;
        position: static; /* Remove absolute positioning */
        justify-content: center; /* Center align */
    }

    .icon-button {
        border: 2px solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
    }

    .main-panel {
        width: 100%; /* Full width */
        padding: 20px; /* Reduced padding */
        display: flex;
        flex-direction: column; /* Stack children vertically */
    }

    .news-updates {
        order: 4; 
    }

    .publications {
        order: 5;
    }

    .footer {
        order: 6;
    }
}